<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(78, 76, 81), rgb(183, 71, 140));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(78, 76, 81), rgb(170, 74, 141))
}
</style>
</head>
  <body>
   
    
    <section class="vh-120 gradient-custom">
        <div class="container py-5 h-50">
          <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-150 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
                    <form>
                        
                      
                    <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>
                    <p class="text-white-50 mb-5">please signup</p>
                    <span id="error2" style="background-color: red;"></span>
                    <div class="form-outline form-white mb-4">
                      <input type="text"  class="form-control form-control-lg" name="username1" id="username"  />
                      username
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input type="text"  class="form-control form-control-lg" name="email1" id="email"  />
                      Email
                    </div>

      
                    <div class="form-outline form-white mb-4">
                      <input type="password"  class="form-control form-control-lg" name="password1" id="password"  />
                     password
                    </div>
                    <div class="form-outline form-white mb-4">
                      <input type="password"  class="form-control form-control-lg" name="password1" id="password_confirm"  />
                    confirm_password
                    </div>
      
                  
      
                    <button id="but1" class="btn btn-outline-light btn-lg px-5" type="button">Signup</button>
                  </form>
                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typePasswordX">already a member</label><a href="{% url 'userlogin' %}">login</a>
                    </div>
      
                   
      
                  </div>
      
                  
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


      <script>
        $('#but1').click(function () {
            console.log('hwbdj')
            var username = $('#username').val()
            var email = $('#email').val()
            var atposition = email.indexOf('@')
            var dotposition = email.lastIndexOf('.')
            var number = $('#number').val()
            var password = $('#password').val()
            var password_confirm = $('#password_confirm').val()
    
    
            var data = {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'username': username,
                'email': email,
                'number': number,
                'password': password,
                'password_confirm': password_confirm
    
            }
            if (username === "") {
                $('#error2').html("Enter Username")
            }
            else if (email === "") {
                $('#error2').html("Enter Email")
            }
            else if (atposition < 2 || dotposition < atposition + 2 || dotposition + 2 >= email.length) {
              console.log('////////')
                    $('#error2').html("Enter valid email")
              }
              else if (number === "") {
                    $('#error2').html("Enter number")
              }
            else if (password === "") {
                $('#error2').html("Enter password")
            }
            else if (password_confirm === "") {
                $('#error2').html("Enter confirm password")
            }
    
            else {
                $.ajax({
                    url: '/signup/',
                    method: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data == "true") {
                          var message = "Registration completed,please login";
                          window.location.replace('/userlogin/?message=' + encodeURIComponent(message));
                        }
                        
                        else if (data == 'false3') {
                            $("#error2").html('Name already exist')
    
                        }
                        else if (data == 'false5') {
                                $("#error2").html('Number already exist')
        
                            }
                        else if (data == 'false4') {
                            $("#error2").html('email already exist')
    
                        }
    
    
                        else if (data == 'false') {
                            $("#error2").html('password is mismatching')
                        }
    
    
    
    
                    }
                })
            }
        })
    </script>
    </body>
</html>